{{#mdl-nav title='Bobs Takeout' fixedHeader=true}}
  {{mdl-nav-item name='Order'   route='menu'}}
  {{mdl-nav-item name='Log In'       route='admin'}}

  <div class="mdl-grid">
  </div>
  {{outlet}}
{{/mdl-nav}}
