{{#mdl-nav title='Bobs Takeout' fixedHeader=true}}
  {{mdl-nav-item name='Chat Now'   route='index'}}
  {{mdl-nav-item name='Log In'       route='admin'}}
  {{mdl-nav-item name='My Cart'       route=''}}

  <div class="mdl-grid">
    {{outlet}}
  </div>
{{/mdl-nav}}
