
<div class="form-menu__container">
{{#simple-form startingValues=model onsubmit="saveItem" as |formValues|}}
  {{mdl-textfield value=formValues.name name="name" class="form-input__name" label="Name"}}
  {{mdl-textfield value=formValues.description name="description" class="form-input__description" label="Description"}}
  {{mdl-textfield value=formValues.price name="price" class="form-input__price" label="Price"}}
  {{mdl-textfield value=formValues.category name="category" class="form-input__category" label="Category"}}


  <button class="form-submit">Submit</button>
{{/simple-form}}
</div>
